{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "browsers": ["> 0.25%", "not ie 11", "not op_mini all"]
          }
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-do-expressions"],
    [
      "module-resolver",
      {
        "root": ["./"]
      }
    ],
    [
      "import",
      {
        "libraryName": "ramda",
        "libraryDirectory": "src",
        "camel2DashComponentName": false
      },
      "ramda"
    ],
    [
      "import",
      {
        "libraryName": "react-use",
        "camel2DashComponentName": false
      },
      "react-use"
    ],
    [
      "import",
      {
        "libraryName": "date-fns",
        "libraryDirectory": "fp",
        "camel2DashComponentName": false
      },
      "date-fns"
    ]
  ]
}
